* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    /* display: flex; */
    /* max-width: 100%; */
    /* height: 100vh; */
    /* padding-top: 0; */
    /* padding-bottom: 50px; */
    /* background: white; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 0 3.5% 50px 3.5%;
    /* background-image: linear-gradient(to bottom right, #1B89A0, #D4C1B2); */
}